{{ define "main" }}
<section>
    <div class='cards'>
        {{ range .Pages }}
        <div class=card>
	    <a href="{{ .URL }}" title='{{ .Title }}'>
                <div class='card-image'>
                    {{ if isset .Params "image" }}
		    <img src="{{ .URL }}{{ .Params.image }}" alt="{{ .Title }}" />
                    {{ else if eq .Params.contrib "poster" }}
                    <img src="{{ .URL }}poster.png" alt="{{.Title}}" />
                    {{ else if eq .Params.contrib "talk" }}
                    <img src="{{ .URL }}slide-01.png" alt="{{.Title}}" />
                    {{ end }}
                </div>
                <h4>{{ .Title|truncate 40 }}</h4>
            </a>
            {{ if isset .Params "description" }}
            <p>{{ .Params.description }}</p>
            {{ else if isset .Params "subtitle" }}
            <p>{{ .Params.subtitle }}</p>    
            {{ end }}
        </div>                
        {{ end }}
    </div>
</section>
{{ end }}
