@include font-face("fira", "/fonts/fira/FiraSans-Light", 300, normal);
@include font-face("fira", "/fonts/fira/FiraSans-LightItalic", 300, italic);
@include font-face("fira", "/fonts/fira/FiraSans-Regular", 400, normal);
@include font-face("fira", "/fonts/fira/FiraSans-Bold", 600, normal);
@include font-face("fira mono", "/fonts/fira/FiraMono-Regular", monospace);

:root{
    font-size: 21px;
    font-family: "fira", sans-serif;
    font-weight: 300;
}

h1 {font-size: 42px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 21px;}
h6 {font-size: 21px;}

code, pre {
    font-family: "fira mono", monospace;
}

strong {
    font-weight: 600;
}
