@import 'neat/neat';

$max-width : 100%;
$breakpoint-small: 50em;
$breakpoint-medium: 80em;
$breakpoint-big: 90em;
$bp-s: new-breakpoint(min-width $breakpoint-small 12);
$bp-m: new-breakpoint(min-width $breakpoint-medium 12);
$bp-l: new-breakpoint(min-width $breakpoint-big 12);


// ------------------------------------------------------------
// Omega Reset
// ------------------------------------------------------------

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

body{
    @include outer-container;
    width:100%;
    section {
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    aside {
        margin-top: 1em;
        @include media($bp-m) {
            margin-top: 0px;
        }
    }
    aside, header, footer,
    section {
        width: 100%;
        @include clearfix;
        .blocks{
            padding-left: 0px;
            .block{
                @include omega-reset(n);
                @include span-columns(12);
                @include omega(n);
                @include media($bp-s) {
                    @include omega-reset(n);
                    @include span-columns(6);
                    @include omega(2n);
                }
                @include media($bp-m) {
                    @include omega-reset(2n);
                    @include span-columns(4);
                    @include omega(3n);
                }
            }
        }
    }
    @include media ($bp-s){
        section{
            @include shift(1);
            @include span-columns(10);
        }
        aside {
            @include span-columns(1);
        }
    }
    @include media ($bp-m){
        section{
            @include shift(3);
            @include span-columns(6);
        }
        aside {
            @include shift(-6);
            @include span-columns(6);
        }
    }
}


@include media ($bp-m){
    dt {
        @include shift(-6);
        @include span-columns(6);
        text-align:right;
    }
    dd {
        margin-left: 0px;
    }
}

.cards {
    width:100%;
    .card {
        width: 100%;
        margin-bottom: $gutter/2;
        @include media($bp-s) {
            @include span-columns(6);
            @include omega(2n);
        }
        @include media($bp-m) {
            @include omega-reset(2n);
            @include span-columns(4);
            @include omega(3n);
        }
    }
}

.jumbotron,
footer {
    clear:both !important;
}
