
@import 'bourbon/bourbon';

@import 'base_struct';
@import 'base_typo';

// colors:
$color-links:   #558822;
$color-alt:     #999999;
$color-alt-bg:  #333333;
$color-main:    #222222;
$color-main-bg: #BBBBBB;
$color-main-light: lighten($color-main, 20%);

$color-col1: #a55a5a;
$color-col2: #81b080;
$color-col3: #77889f;

