@font-face {
    font-family: system;
    font-style: normal;
    src:
        local(".SFNSText-Light"),
        local(".HelveticaNeueDeskInterface-Light"),
        local(".LucidaGrandeUI"),
        local("Ubuntu Light"),
        local("Segoe UI Light"),
        local("Roboto-Light"),
        local("DroidSans"),
        local("Tahoma");
}

@font-face {
    font-family: system-bold;
    font-style: normal;
    src:
        local(".SFNSText"),
        local(".HelveticaNeueDeskInterface"),
        local(".LucidaGrandeUI"),
        local("Ubuntu"),
        local("Segoe UI"),
        local("Roboto"),
        local("DroidSans"),
        local("Tahoma");
}
@font-face {
    font-family: system-title;
    font-style: normal;
    font-weight: bold;
    src:
        local(".SFNSText"),
        local(".HelveticaNeueDeskInterface"),
        local(".LucidaGrandeUI"),
        local("Ubuntu Condensed"),
        local("Segoe UI"),
        local("Roboto Condensed"),
        local("DroidSans"),
        local("Tahoma");
}

@font-face {
    font-family: system-mono;
    font-style: normal;
    src:
        local("Iosevka Slab"),
        local(".SFMono-Regular"),
        local("Consolas"),
        local("Liberation Mono"),
        local("Roboto Mono"),
        local("Courier New"),
        local("Menlo"),
        local("monospace");
}

@import "mvp";

body {
    padding: 0px;
    width: 100%;
    background-image: url("/images/bg-light-small.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("/images/bg-dark-small.png");
    }
}

article {
    width: 50%;
    margin: auto;
    margin-top: 8rem;
}

strong,
summary,
a {
    color: var(--color-text);
    font-family: system-bold;
}

summary:hover,
a:hover {
    color: var(--color);
    text-decoration: underline;
    transition: 0.2s;
}

tt,
pre,
code {
    font-family: var(--font-family-mono);
}

pre code {
    overflow: scroll;
    white-space: pre;
}

h1 {
    font-size: 28px;
}

iframe {
    margin: 2em 0px;
}

h1, h2, h3, b {
    font-family: var(--font-family-bold);
    font-weight: 900;
}

details {
    margin: 0.2em 0em;
}

nav {
    background-color: var(--color-nav-secondary);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 1rem;
    a {
        color: var(--color);
    }
    ul {
        li{
            text-align: center;
            a{
                padding: 1em 3em;
            }
        }
        li:hover {
            background-color: var(--color-shadow);
            transition: 0.4s;
        }
        padding: 0px;
        overflow: hidden;
        margin: 0px;
    }
}

section {
    margin: 1em 2em;
}

blockquote {
    text-align: left;
}

.navbutton {
    display: none;
}

.arxiv {
    float: right;
}

.right {
    float: right;
}

.cv_block,
.card {
    background-color: var(--color-bg-secondary);
    padding: 1em 1em;
    margin: 1em 0em;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-bg);
}

.cardimage {
    width: 20%;
    display: inline-block;
    vertical-align:middle;  // Align children to middle of line
    object {
        width: 100%;
    }
}

.cardtext {
    width: 79%;
    display: inline-block;
    vertical-align:middle;  // Align children to middle of line
    h2 {
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 700px) {
    .cardimage {
        display: none;
    }

    .cardtext {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {

    article {
        width: 100%;
        >*{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .cv_block,
    .card {
        border-radius: 0;
    }

    .navbutton {
        display: inline-block;
        cursor: pointer;
    }
    .navmenu {
        position: relative;
        display: inline-block;
    }
    nav ul{
        display: none;
        position: fixed;
        margin-top: 0em;
        z-index: 1;
        width: 100%;
        right: 0rem;

        background-color: var(--color-nav-secondary);
        border-radius: 0px;
        li {
            margin: 0;
            display: block;
            a {
                display: block;
            }
        }

    }

    .show {
        display: block;
    }
}
