
<details>
    <summary>Index</summary>
    <ul>
    {% for class in Content %}{% for title, content in class.items() %}
    <li><a href="#{{ title | lower | urlencode }}">{{ title }}</a></li>
    {% endfor %}{% endfor %}
    {% for class in Tables %}{% for title,content in class.items()%}
    <li><a href="#{{ title | lower | urlencode }}">{{ title }}</a></li>
    {% endfor %}{% endfor %}
    </ul>
</details>

{% for class in Content %}{% for title, content in class.items() %}

<h1 id={{ title | lower | urlencode }}>{{ title }}</h1>

<dl class='cv_block'>
    {% for item in content %}
    <dt>{{ item.period }}</dt>
    <dd><strong>
        {% if item.url %} <a href="{{item.url}}">{{item.title}}</a>{% else %}{{item.title}}{% endif %}
    </strong> <div class='right'>{{ item.location }}</div></dd>
    <dd><small>{{ item.subtitle }}</small></dd>

    {% if item.topics %}
    <ul>
        {% for i in item.topics %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
</dl>
{% endfor %}{% endfor %}


{% for class in Tables %}{% for title,content in class.items()%}

<h1 id={{ title | lower | urlencode }}>{{ title }}</h1>

<dl class='cv_block'>
    {% for key, thelist in content.items() %}
    <dt><strong>{{ key }}:</strong></dt>
    <dd>{{ thelist|join(', ') }}</dd>
    {% endfor %}
</dl>
{% endfor %}{% endfor %}
