
{{ define "main" }}

<section>
    {{ .Content }}

    <ul class='list'>
      {{ range .Pages }}
        <li>
            {{ if isset .Params "image" }}
            <div class='oblo'>
		<img src="{{ .URL }}{{ .Params.Image }}" alt="" />
            </div>
            {{ end }}

	    <a href="{{ .Permalink }}">
	    <h5>{{ .Title }}</h5>
	    </a>

	    {{ partial "titles/authorlist.html" . }}
	    {{ partial "titles/journal.html" . }}

	    {{ $loc := ( dict "Params" .Params "Title" .Title "abstract" "true") }}
	    {{ partial "buttons.html" $loc }}

	    {{ with .Params.subtitle }}<b>{{ . }}</b>{{ end }}
	    {{ with .Params.description }}{{ . }}{{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
