
{{ define "main" }}

<section>
    {{ if .IsTranslated }}
    <nav class="LangNav">
        {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end}}
    </nav>
    {{ end }}

    {{ .Content }}

    <ul class='list'>
        {{ range .Pages }}
        <li>
            {{ $linkurl := .Permalink }}
            {{ if isset .Params "outurl" }}
            {{ $linkurl = .Params.outurl }}
            {{ end }}
            {{ if isset .Params "image" }}
            <aside class="onlybig">
                <div class='oblo'>
                    <a href="{{ $linkurl }}">
                        <img class='cover' src="{{ .Permalink }}/{{ .Params.Image }}" alt="" />
                    </a>
                </div>
            </aside>
            {{ end }}

            <a href="{{ $linkurl }}">
                <h5>{{ .Title }}</h5>
            </a>

            {{ partial "titles/authorlist.html" . }}
            {{ partial "titles/journal.html" . }}

            {{ $loc := ( dict "Params" .Params "Title" .Title "abstract" "true") }}
            {{ partial "buttons.html" $loc }}

            {{ with .Params.subtitle }}<b>{{ . }}</b>{{ end }}
            {{ with .Params.description }}{{ . }}{{ end }}
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}
