
    {{ with .Params.arxiv }}
    <a class='button col1' href="{{ . }}" target="_blank">ArXiv</a>
    {{ end }}
    {{ if isset .Params "bibtex" }}
    <input class="popup" type="checkbox" id="{{ .Title }}">
    <label class="popup" for="{{ .Title }}">
        <div class="button col2">BibTeX</div>
        <div class="hidden"><pre>{{ .Params.bibtex }}</pre></div>
    </label>
    {{ end }}
    {{ if and (isset .Params "abstract") ( isset . "abstract") }}
    <input class="popup" type="checkbox" id="{{ .Title }}-abs">
    <label class="popup" for="{{ .Title }}-abs">
        <div class="button col3">Abstract</div>
        <div class="hidden"><p>{{ .Params.abstract }}</p></div>
    </label>
    {{ end }}
