{{ define "main" }}
  <section>
    <main>

    {{ partial "authors.html" . }}

    
    <a class='button col1' href="{{ .Params.arxiv }}" target="_blank">ArXiv</a>
    <input class="popup" type="checkbox" id="{{ .Title }}">
    <label class="popup" for="{{ .Title }}">
        <div class="button col2">BibTeX</div>
        <div class="hidden"><pre>{{ .Params.bibtex }}</pre></div>
    </label>

    {{ if isset .Params "image" }}
    <aside><figure>
	    <img src="{{ .URL }}{{ .Params.image | urlize }}" alt="{{.Title}}" />
    </figure></aside>
    {{ end }}

    <h3>Abstract:</h3>
    {{ .Params.abstract }}
    </main>
  </section>
{{ end }}
