
<h2>Professional Experience</h2>
<aside>2015 - today</aside>
<article>
    <strong> Université Catholique de Louvain </strong> (PostDoc)
    <div class='right'> Louvain la Neuve, Belgium </div> <br />
 ICTEAM,  Big Data Group</article>
<aside>2011 - 2015</aside>
<article>
    <strong> ISI Fundation </strong> (Postdoc)
    <div class='right'> Torino, Italy </div> <br />
 Quantum Science &amp; Mathematics of Networks,  Data Science</article>
<aside>2006 - 2011</aside>
<article>
    <strong> Bifi Institute </strong> (PhD)
    <div class='right'> Zaragoza, Spain </div> <br />
</article>

<h2>Fellowships</h2>
<div style='margin:0.1px;'>
    <aside>2015</aside>
    <article>
        MOVE-IN Louvain Fellowship (with support of Marie Curie Actions)
    </article>
</div>

<h2>Membership</h2>
<aside>2015 - today</aside>
<article>
    <strong>
        Network Science Society
    </strong>
    <div class='right'>
        Member
    </div>
</article>
<aside>2014 - today</aside>
<article>
    <strong>
        Complex Systems Society
    </strong>
    <div class='right'>
        Member
    </div>
</article>
<aside>2013 - today</aside>
<article>
    <strong>
        Frontiers in Quantum Computing
    </strong>
    <div class='right'>
        Review Editor
    </div>
</article>

<h2>Organization</h2>
<aside>2 Jun 2014</aside>
<article>
    <strong>Quantum Frontiers for Network Science</strong>
    <div class='right'>
        NetSci
    </div> <br />
    Berkeley, California
</article>
<aside>Sept 2016</aside>
<article>
    <strong>Coarse-graining of Complex Systems</strong>
    <div class='right'>
        CCS
    </div> <br />
    Amsterdam, Netherlands
</article>

<h2>Teaching</h2>
<aside>
    2016
</aside>
<article>
    LINMA2111 Algorithms and Complexity 
    <div class='right'>
        <em>
            Assistant Professor
        </em>
    </div> <br />
    Université Catholique de Louvain 
    <div class='right'>
        
    </div>
</article>
<aside>
    2005
</aside>
<article>
    Physics and Math at primary school 
<br />
    NEST 
    <div class='right'>
        Hetauda, Nepal
    </div>
</article>
<aside>
    2004
</aside>
<article>
    Science Museum 
    <div class='right'>
        <em>
            guide
        </em>
    </div> <br />
    INFN 
    <div class='right'>
        Padova, Italy
    </div>
</article>

<h2>Education</h2>
<aside>
    2011
</aside>
<article>
    <strong>PhD in Physics</strong>
    <div class='right'>
        University of Zaragoza
    </div>
</article>
<aside>
    2007
</aside>
<article>
    <strong>Master in Physics and Technology</strong>
    <div class='right'>
        University of Zaragoza
    </div>
</article>
<aside>
    2005
</aside>
<article>
    <strong>MSc in Physics</strong>
    <div class='right'>
        University of Padova
    </div>
</article>

<h2>Publications</h2>
<ul>
    <li>
        <em>Chiral Quantum Walks</em>,
        D. L. Lu, J. D. Biamonte, J. Li, H. Li, T. H. Johnson, V. Bergholm, M. Faccin, Z. Zimborás, R. Laflamme, J. Baugh, and S. Lloyd,
        Phys. Rev. A 93, 042302,
        DOI: 10.1103/PhysRevA.93.042302,
        arXiv: 1405.6209 [quant-ph]
    </li>
    <li>
        <em>Community Detection in Quantum Complex Networks</em>,
        M. Faccin, P. Migdał, T. H. Johnson, V. Bergholm, and J. D. Biamonte,
        Phys. Rev. X 4 (4 2014), p. 041012,
        DOI: 10.1103/PhysRevX.4.041012,
        arXiv: 1310.6638 [quant-ph]
    </li>
    <li>
        <em>Degree Distribution in Quantum Walks on Complex Networks</em>,
        M. Faccin, T. Johnson, J. Biamonte, S. Kais, and P. Migdał,
        Phys. Rev. X 3 (4 2013), p. 041007,
        DOI: 10.1103/PhysRevX.3.041007,
        arXiv: 1305.6078 [quant-ph]
    </li>
    <li>
        <em>Quantum Transport Enhancement by Time-Reversal Symmetry Breaking</em>,
        Z. Zimboras, M. Faccin, Z. Kadar, J. Whitfield, B. Lanyon, and J. Biamonte,
        Sci. Rep. 3 (2013). Ed. by NPG, p. 2361,
        DOI: 10.1038/srep02361,
        arXiv: 1208.4049 [quant-ph]
    </li>
    <li>
        <em>MS/MS Spectra Interpretation as a Statistical-Mechanics Problem</em>,
        M. Faccin and P. Bruscolini,
        Analytical Chemistry 85.10 (2013), pp. 4884–4892,
        DOI: 10.1021/ac4005666,
        arXiv: 
    </li>
    <li>
        <em>Ground-state spin logic</em>,
        J. D. Whitfield, M. Faccin, and J. D. Biamonte,
        Europhysics Letters 99.5 (2012), p. 57004,
        DOI: 10.1209/0295-5075/99/57004,
        arXiv: 1205.1742 [quant-ph]
    </li>
    <li>
        <em>Analysis of the equilibrium and kinetics of the ankyrin repeat protein myotrophin</em>,
        M. Faccin, P. Bruscolini, and A. Pelizzola,
        The Journal of Chemical Physics 134.7, 075102 (2011), p. 075102,
        DOI: 10.1063/1.3535562,
        arXiv: 1103.0216
    </li>
</ul>


<h2>Conferences</h2>
<h4>Oral Contributions</h4>
<aside>
    10-15 Jan 2015
</aside>
<article>
    <em>Mesoscopic Structures and Diffusion Process Memory</em>, <br />
    NetSci-X,
    Wrocław
</article>
<aside>
    2-6 Jun 2015
</aside>
<article>
    <em>Structural controllability of EEG temporal causal networks</em>, <br />
    NetSci,
    Zaragoza, Spain
</article>
<aside>
    22-26 Sep 2014
</aside>
<article>
    <em>Quantum Approaches to Community Detection</em>, <br />
    ECCS,
    Lucca, Italy
</article>
<aside>
    12-14 Mar 2014
</aside>
<article>
    <em>Community detection on quantum systems</em>, <br />
    CompleNet,
    Bologna, Italy
</article>
<aside>
    22-24 Jan 2014
</aside>
<article>
    <em>Community Detection on Quantum Systems</em>, <br />
    BIFI2014 - VI International Conference,
    Zaragoza, Spain
</article>
<aside>
    24-26 May 2013
</aside>
<article>
    <em>Degree distribution in quantum complex networks</em>, <br />
    IQC workshop on quantum computation and complex networks,
    Waterloo, Canada
</article>
<aside>
    6-8 Nov 2012
</aside>
<article>
    <em>Ground state spin logic</em>, <br />
    Tensor Network States and Algebraic Geometry Workshop,
    Torino, Italy
</article>
<aside>
    2-4 Feb 2011
</aside>
<article>
    <em>Equilibrium and kinetics of the ankyrin repeat protein Myotrophin through a simple statiscical mechanical model</em>, <br />
    V BIFI National Conference,
    Zaragoza, Spain
</article>
<aside>
    5-7 Feb 2009
</aside>
<article>
    <em>Bayesian Characterization of Protein Tandem Mass Spectra</em>, <br />
    IV BIFI National Conference,
    Zaragoza, Spain
</article>
<aside>
    8-9 May 2008
</aside>
<article>
    <em>Noise description in MSMS mass spectrometry, looking for a de novo sequencing algorithm</em>, <br />
    VI Jornadas Aragonesas de Estabilidad y Plegamiento de Proteı́nas,
    San Sebastian, Spain
</article>

<h4>Poster Contributions</h4>
<aside>
    23-25 Mar 2016
</aside>
<article>
    <em>Memory and Mesoscopic Structures in Diffusion Processes</em>,
    Complenet,
    Dijon, France
</article>
<aside>
    7-10 Jul 2010
</aside>
<article>
    <em>Folding Pathways Characterization for Ankyrin Repeat Protein Myotrophin</em>,
    IV Spanish Portuguese Biophysical Congress,
    Zaragoza, Spain
</article>
<aside>
    2-6 Jun 2008
</aside>
<article>
    <em>Statistical characterization of fragment ions in MSMS mass spectrometry</em>,
    XXI Sitges Conference on Statistical Mechanics: Statistical Mechanics of Molecular Biophysics,
    Sitges, Spain
</article>

<h2>Skills</h2>
<h4>Computer Skills</h4>
<aside>
    <strong>Coding:</strong>
</aside>
<article>
    Python,     C,     C++,     Matlab,     Fortran</article>
<aside>
    <strong>Imaging:</strong>
</aside>
<article>
    Gimp (raster),     Inkscape (vectorial),     Rawtherapee (raw)</article>
<aside>
    <strong>Plotting:</strong>
</aside>
<article>
    Gnuplot,     Matplotlib,     Pgfplots(latex)</article>
<aside>
    <strong>Shell:</strong>
</aside>
<article>
    Bash,     Ipython/jupyter</article>
<aside>
    <strong>Typesetting:</strong>
</aside>
<article>
    Latex,     Libreoffice,     Msoffice,     Markdown</article>
<aside>
    <strong>Versioning:</strong>
</aside>
<article>
    Git,     Subversion,     Mercurial</article>
<aside>
    <strong>Web:</strong>
</aside>
<article>
    Html5,     Css/scss,     Static site generators,     Wordpress</article>

<h4>Languages</h4>
<aside>Italian</aside>
<article>Mother tongue</article>
<aside>English</aside>
<article>Fluent</article>
<aside>Spanish</aside>
<article>Fluent</article>
<aside>French</aside>
<article>Fair</article>

