{% extends "base.html" %}

{% block content %}
        <article>

        <h1>{{ page.title }}</h1>
        {% if page.description %}<h4>{{ page.description }}</h4></br>{% endif %}

        {{ page.content | safe }}

        {% set_global assets = [] %}
        {% for asset in page.assets | sort %}
            {% set_global assets = assets | concat(with=asset | split(pat="/") | last) %}
        {% endfor %}
        {% if "poster.pdf" in assets or "slides.pdf" in assets %}
            {% if "poster.pdf" in assets %}
                {% set contrib = "poster.pdf" %}
            {% else %}
                {% set contrib = "slides.pdf" %}
            {% endif %}

            <p>Download the pdf <a href="{{ contrib }}">here</a></p>

            <div class="slideshow-container">
              {% for slide in assets %}
                  {% if slide is matching("(slide|poster).*.(png|webp)") %}
                  <div class="mySlides">
                      <img src="{{ slide }}" style="width:100%">
                  </div>
                  {% endif %}
              {% endfor %}
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
        {% endif %}

        </article>


        <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            function showSlides(n) {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slides[slideIndex-1].style.display = "block";
            }

            document.onkeydown = function(event){
                console.log(event.keyCode);
                switch (event.keyCode){
                    case 8:
                        <!-- backspace -->
                        plusSlides(-1);
                        break;
                    case 13:
                        <!-- enter -->
                        plusSlides(1);
                        break;
                    case 37:
                        <!-- left arrow -->
                        plusSlides(-1);
                        break;
                    case 39:
                        <!-- right arrow -->
                        plusSlides(1);
                        break;
                    <!-- case 36: -->
                    <!--     <!-1- home -1-> -->
                    <!--     showSlides(slideIndex = 1); -->
                    <!--     break; -->
                    case 72:
                        <!-- h -->
                        plusSlides(-1);
                        break;
                    case 76:
                        <!-- l -->
                        plusSlides(1);
                        break;
                    <!-- case 74: -->
                    <!--     <!-1- j -1-> -->
                    <!--     showSlides(slideIndex = 1); -->
                    <!--     break; -->
                }
            }
        </script>
{% endblock content %}
