{% extends "page.html" %}
{% import "macros.html" as macros %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>

    {{ page.content | safe }}

    {% set data = load_data(path="src/cv/mf.bib", format="bibtex") %}
    {% set awards = load_data(path="data/awards.toml", format="toml") %}

    {% for paper in data.bibliographies | sort(attribute="tags.year") | reverse %}

    <div class="card">
        <div class="cardimage">
            <object data="/papers/imgs/{{ paper.citation_key }}.svg" type="image/svg+xml" loading="lazy">
                <img src="/papers/imgs/{{ paper.citation_key }}.webp" alt="" onerror='this.error=null;this.src="/images/gicon.svg"' loading="lazy"/>
            </object>
        </div>
        <div class="cardtext">
            <a href="{{ paper.tags.url }}">
                <h2> {{ paper.tags.title | replace(from='{', to='') | replace(from='}', to='') }} </h2>
            </a><br>

            <!-- <small> -->
                {{ macros::authorline(authors=paper.tags.author) }}
            <!-- </small> -->

            <a href="{{ macros::journalref(tags=paper.tags) }}" target="_blank">
                {{ macros::journal(tags=paper.tags) }}
            </a>

            <details>
                <summary>
                    Abstract
                </summary>
                {{ paper.tags.abstract | default(value="No Abstract available.") | markdown(inline=true) | safe }}
            </details>

            <details>
                <summary>
                    BibTeX
                </summary>
            <pre>
                <code>
@{{ paper.entry_type | lower }}{ {{- paper.citation_key }},
{%- for k, v in paper.tags -%}
{% if k | lower != "abstract" %}
    {{ k | lower }} = { {{- v -}} },
{%- endif -%}
{%- endfor %}
}
                </code>
            </pre>
            </details>

            {% if paper.citation_key in awards %}<div class="awards">{{ awards[paper.citation_key] }}</div>{% endif %}

            {% set arxiv = macros::arxivref(tags=paper.tags) %}
            {% if arxiv and arxiv != "" %}
            <a href="{{ arxiv }}" target="_blank" class="arxiv"><i>{{ paper.tags | get(key="archiveprefix", default="arXiv") | title }}</i></a>
            {% endif %}
        </div>

    </div>

    {% endfor %}
</article>
{% endblock content %}
