{% extends "base.html" %}

{% block content %}
        <article>
        <h1>{{ section.title }}</h1>

        {{ section.content | safe }}

        {% for page in section.pages | sort(attribute="date") | reverse %}
        <div class="card">
            <div class="cardimage">
                {% if page.extra.image %}
                    {% set image = page.path ~ page.extra.image %}
                {% else %}
                    {% for asset_image in page.assets | sort %}
                        {% if asset_image is matching(".*.(png|webp|jpg)$") %}
                            {% set_global image = asset_image | split(pat='/') | last %}
                            {% set_global image = page.path ~ image %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                    {% if not image %}
                        {% set image = "images/gicon.svg" %}
                    {% endif %}
                {% endif %}
                <img src="{{ image }}" alt=""/>
            </div>
            <div class="cardtext">

                {# link to the page or to the website #}
                {% if page.extra.outurl %}
                <h2> <a href="{{ page.extra.outurl | safe }}" target="_blank">{{ page.title }}</a> </h2>
                {% else %}
                <h2> <a href="{{ page.path | safe }}">{{ page.title }}</a> </h2>
                {% endif %}
                {% if page.description %}{{ page.description | markdown(inline=true) | safe }}</br>{% endif %}
                <small>{{ page.date | default(value="1970-01-01") }}</small>

                {% if page.extra.awards %}<div class="awards">{{ page.extra.awards }}</div>{% endif %}
            </div>

        </div>
        {% endfor %}

        </article>
{% endblock content %}
