
{% macro reflink(name, target='_blank') %}
    {% set rl = site.reflinks[name]%}
    <a href="{{ rl.url }}" target="{{ target }}">{{ rl.title }}</a>
{% endmacro %}

{% macro figure(fn, alt='', caption='', style='') %}
<figure style='{{style}}'>
  <img src="{{fn}}" alt="{{alt}}">
  {% if caption %}
  <figcaption>{{caption}}</figcaption>
  {% endif %}
</figure>
{% endmacro %}

{% macro reference(this, collaborators) %}
    {% for au in this.authors%}
        {% if au|lower in collaborators %}
        {% set _au = collaborators[au|lower] %}
        {% if _au.url %}
        <a href="{{ _au.url }}" target="_blank">{{ _au.name|title }}</a>
        {% else %}{{ _au.name|title }}{% endif %}
        {%- else %}
        {{ au|title }}
	{%- endif %},
    {% endfor %}
    <strong>
    {% if 'journallink' in this %}
    <a href="{{ this.journallink }}" target="_blank">{{ this.journal }}</a>
    {%- else %}
    {{ this.journal }}
    {%- endif %}
    </strong>
{% endmacro %}
