
    <nav>
        <ul>
            <a class='home' href="{{ '/' }}"><li><strong>{{site.title}}</strong></li></a>
            <input type="checkbox" name="MENU" id="MENU"/>
            <label for="MENU">MENU</label>
            {% for item in site.reflinks['/'].content %}
            {%   set context = '' %}
            {%   if item.components|d and this.components[0] == item.components[0] %}
            {%     set context = ' class="active"' %}
            {%   endif %}
            <a href="{{item.url}}"><li{{context}}>{{item.title}}</li></a>
            {% endfor %}
        </ul>
    </nav>
