{% extends "_base.html" %}
{% import "macros.html" as macros %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html' %}
{% endblock %}

{% block bigtitle %}
    {% include 'bigtitle.html' %}
{% endblock %}

{% block body %}
  <section>
    <main>

    {#
    REF
    #}
    {{ macros.reference(this, site.collaborators) }}

    
    {#
    BUTTONS
    <a class='button col3' href="/papers/data/{{ this.pdf }}" target="_blank">PDF</a>
    #}
    <a class='button col1' href="{{ this.arxiv }}" target="_blank">ArXiv</a>
    <input class="popup" type="checkbox" id="{{ this.title }}">
    <label class="popup" for="{{ this.title }}">
        <div class="button col2">BibTeX</div>
        <div class="hidden"><pre>{{ this.bibtex }}</pre></div>
    </label>

    {#
    IMAGE
    #}
    {% if this.image %}
    <aside><figure>
            <img src="images/{{ this.image }}" alt="{{this.title}}" />
    </figure></aside>
    {% endif %}
    
    {#
    TAGS
    #}
    {% if this.tags %}<br />
    TAGS: {% for tag in this.tags %}
    <a href="/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}

    {#
    ABSTRACT
    #}
    <h3>Abstract:</h3>
    {{this.abstract}}
    </main>
  </section>
{% endblock %}
