{{ define "navbar" }}
<a href="{{ "/" | relURL }}">
    <img src="/images/home.svg" alt="Home" style='width:3em; padding:6px;'/>
</a>
{{ end }}

{{ define "main" }}
{{ if .IsTranslated }}
Lang: {{ range .Translations }} <a href="{{ .Permalink }}">[{{ .Lang }}]</a> {{ end}}
{{ end }}

<section>
    {{ if isset .Params "image" }}
    <aside>
        <figure>
            <img width="100%" src="{{ .URL }}{{ .Params.image }}" alt="{{ .Title }}">
        </figure>
    </aside>
    {{ end }}

    <main>
        {{ .Content }}
    </main>

</section>
{{ end }}
